#main {
  max-width: 90%;
  margin: auto;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Lato", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  letter-spacing: -1px;
  max-width: 50%;
  font-weight: 900;
  font-size: 40px;
  color: #2f4858;
  line-height: 48px;
  display: block;
  padding: 0 5px 0 5px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

#sectionTitle {
  font-size: 22px;
  text-transform: uppercase;
}

.date-text {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 2px 0 0 0;
}

.location-text {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
  line-height: 16px;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
  padding-bottom: 10px;
}

a {
  color: #2eafb4;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: black;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.dark-grey-text {
  font-size: 12px;
  color: grey;
}

.white-text {
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.gray {
  background-color: #f3f3f3;
  padding: 20px 0 30px 0;
  clear:both;
}

.white {
  padding: 20px 0 20px 0;
}

.dark-gray {
  background-color: #2f4858;
}

#header {
  background-color: white;
  height: 380px;
}

.flex-box {
  max-width: 50%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px;
}

.center-content {
  padding: 2.5% 0;
}

ul {
  list-style-type: none;
}

.biopic {
  position: absolute;
  top: 30px;
  right: 40px;
  border-radius: 50%;
  padding: 10px 0 10px 10px;
  width: 200px;
}

img {
  padding: 10px;
}

span {
  text-transform: uppercase;
  padding: 5px;
}

#topContacts {
  max-width: 50%;
}

.description {
  text-align: center;
  font-size: 18px;
  color: white;
  font-style: oblique;
  margin: auto;
  background-color: #2f4858;
  padding: 10px 70px 10px 70px;
}

#footerContacts {
  background-color: #f3f3f3;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px 15px 10px;
  margin: 0 0 ` 0;
}

#lets-connect {
  background-color: #2f4858; 
  text-align: center;
  margin: 5% 0;
}

#h2-lets-connect {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: 0;
}

#major {
  padding: 3px 0 0 0;
  margin: 0;
  line-height: 9px;
}

#onlineClassesTitle {
  color: #999;
  padding: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 18px;
}

#hobbies {
  padding-bottom: 40px;
}

#hobbyEntry {
  padding: 0 5% 0 5%;
}

.projectImage {
  max-width: 280px;
}

.project-title {
  color: black;
}

.twitter-follow-button {
  float: right;
  clear: both;
}

.emailIcon {
  max-width: 35px;
  position: absolute;
  top: 45px;
  right: 30px;
  z-index: 1;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin: 5% 0;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    margin-top: 0;
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  padding: 0;
  margin-top: 15px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
